{%- assign show_announcement = false -%}
{%- assign announcement_block_count = 0 -%}
{%- for block in section.blocks -%}
  {%- if block.type == 'announcement' or block.type == '@app' -%}
    {%- assign show_announcement = true -%}
    {%- assign announcement_block_count = announcement_block_count | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}

{% if show_announcement %}
  <div class="announcement-bar">
    <div class="page-width">
      <div class="slideshow-wrapper" style="display: flex;">
        <span class="arrow" id="toggleCollapseBtn" role="button" tabindex="0"></span>

        <div
          id="AnnouncementSlider"
          class="announcement-slider show" style="width: 100%;"
          data-compact="{{ section.settings.announcement_compact }}"
          data-block-count="{{ announcement_block_count }}">
          {%- assign slide_index = 0 -%}
          {%- for block in section.blocks -%}
            {%- if block.type == '@app' -%}
              <div
                id="AnnouncementSlide-{{ block.id }}"
                class="announcement-slider__slide"
                data-index="{{ slide_index }}"
                {{ block.shopify_attributes }}
              >
                {%- render block -%}
              </div>
              {%- assign slide_index = slide_index | plus: 1 -%}
            {%- endif -%}
            {%- if block.type == 'announcement' -%}
              <div
                id="AnnouncementSlide-{{ block.id }}"
                class="announcement-slider__slide"
                data-index="{{ slide_index }}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.link != blank -%}
                  <a class="announcement-link" href="{{ block.settings.link }}">
                {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <span class="announcement-text">{{ block.settings.text }}</span>
                  {%- endif -%}
                  {%- if block.settings.link_text != blank -%}
                    <span class="announcement-link-text">{{ block.settings.link_text }}</span>
                  {%- endif -%}
                {%- if block.settings.link != blank -%}
                  </a>
                {%- endif -%}
              </div>
              {%- assign slide_index = slide_index | plus: 1 -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>

{% endif %}

<style>
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    transition: transform 0.3s ease;
    margin-top: 5px;
    outline-offset: 5px;
  }

  .arrow.up {
    transform: rotate(180deg);
  }

  .show {
    display: block;
  }

  #AnnouncementSlider {
    display: none;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.querySelector("#toggleCollapseBtn");
    const container = document.querySelector("#AnnouncementSlider");
    btn.addEventListener('click', () => {
      container.classList.toggle("show");
      btn.classList.toggle("up");
    });
  });
</script>