{%- assign fixed_aspect_ratio = false -%}
{% unless image_size == 'natural' %}
  {%- assign fixed_aspect_ratio = true -%}
{% endunless %}

<div role="listitem" class="grid__item__container grid__item {{ grid_item_width }}" data-aos="row-of-{{ per_row }}">
  <a href="{{ article.url }}">
    <div class="grid">
      <div class="grid__item small--one-third">
          {%- if article.image -%}
              <span tabindex="-1" aria-hidden="true" class="article__grid-image">
                  {%- if fixed_aspect_ratio -%}
                      <div class="image-wrap">
                          <div
                                  class="grid__image-ratio grid__image-ratio--{{ image_size }}" aria-hidden="true">
                              {%- render 'image-element',
                                      img: article.image,
                                      sizes: '33vw',
                                      widths: '360, 540, 720, 900, 1080',
                                      aria-hidden: true
                              -%}
                          </div>
                      </div>
                  {%- else -%}
                      <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: article.image.aspect_ratio }}%;">
                          {%- render 'image-element',
                                  img: article.image,
                                  sizes: '33vw',
                                  widths: '180, 360, 540, 720, 900, 1080',
                                  aria-hidden: true
                          -%}
                      </div>
                  {%- endif -%}
              </span>
          {%- else -%}
              <div class="article__grid-image">
                  {%- if fixed_aspect_ratio -%}
                      <div class="image-wrap">
                          <div
                                  class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                          </div>
                      </div>
                  {%- endif -%}
              </div>
          {%- endif -%}
      </div>
      <div class="grid__item small--two-thirds">
          <div class="article__grid-meta">

              <span class="article__title">{{ article.title }}</span>

              {%- if section.settings.blog_show_author -%}
                  <div class="article__author">by {{ article.author }}</div>
              {%- endif -%}

              {%- if section.settings.blog_show_excerpt -%}
                  <div class="rte article__excerpt">
                      {%- if article.excerpt.size > 0 -%}
                          {{ article.excerpt }}
                      {%- else -%}
                          {{ article.content | strip_html | truncatewords: 40 }}
                      {%- endif -%}
                  </div>
              {%- endif -%}
          </div>
      </div>
  </div>
{%- if section.settings.blog_show_date or article.tags.size > 0 or articles.comments_count > 0 -%}
  <div class="article__date">
    {%- if section.settings.blog_show_tags and article.tags.size > 0 -%}
{%- for tag in article.tags -%}
  {% assign tag_trimmed = tag | strip %}
  {% assign first_char = tag_trimmed | slice: 0 %}

  {% if tag_trimmed == "" %}
    {% continue %}
  {% endif %}

  {% if first_char == "_" %}
    {% continue %}
  {% endif %}

  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a> &middot;
{%- endfor -%}
          {%- endif -%}
          {%- if section.settings.blog_show_comments and article.comments_count > 0 -%}
             <a href="{{ article.url }}#comments">
                {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
             </a> &middot;
                      {%- endif -%}
                      {%- if section.settings.blog_show_date -%}
                          {{ article.published_at | time_tag: format: 'month_day_year' }}
                      {%- endif -%}
                  </div>
              {%- endif -%}
  </a>
  
</div>
<script>
  console.log("Tags:", {{ article.tags | json }});
</script>